<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item logo" title="Asciidoctor" href="https://asciidoctor.org"><img src="{{{uiRootPath}}}/img/asciidoctor-logo.svg" alt="Asciidoctor"></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{#with (and site.url site.homeUrl)}}{{{@root.site.url}}}{{{this}}}{{else}}{{{siteRootPath}}}{{/with}}">{{site.title}}</a>
        {{#if env.ALGOLIA_API_KEY}}
        <div class="navbar-item hide-for-print">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
        {{/if}}
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">AsciiDoc</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'asciidoc::index.adoc')}}}">Language</a>
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'asciidoc::syntax-quick-reference.adoc')}}}">Syntax Quick Reference</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          {{!--
          <div class="navbar-link">Conversion</div>
          --}}
          <div class="navbar-link">Processing</div>
          <div class="navbar-dropdown">
            {{!--
            <div class="navbar-item">Core</div>
            --}}
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'asciidoctor::index.adoc')}}}">Asciidoctor <small>Ruby</small></a>
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'asciidoctor.js::index.adoc')}}}">Asciidoctor.js <small>JS</small></a>
            {{#if site.components.asciidoctorj}}
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'asciidoctorj::index.adoc')}}}">AsciidoctorJ <small>Java</small></a>
            {{/if}}
            <hr class="navbar-divider">
            <div class="navbar-item">Extended Converters</div>
            {{!--
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'pdf-converter::index.adoc')}}}">PDF</a>
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'epub3-converter::index.adoc')}}}">EPUB3</a>
            --}}
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'reveal.js-converter::index.adoc')}}}">reveal.js <small>Ruby, JS</small></a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Tooling</div>
          <div class="navbar-dropdown is-right">
            <div class="navbar-item">Build Automation Plugins</div>
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'maven-tools::index.adoc')}}}">Maven Tools <small>Java</small></a>
            {{!--
            <a class="navbar-item" href="#">Gradle Plugin <small>Java</small></a>
            --}}
            {{#if site.components.asciidoclet}}
            <a class="navbar-item" href="{{{relativize (resolvePageURL 'asciidoclet::index.adoc')}}}">Asciidoclet <small>Java</small></a>
            {{/if}}
            <hr class="navbar-divider">
            <div class="navbar-item">Text Editors and Viewers</div>
            {{!--
            <a class="navbar-item" href="#">Browser Extension</a>
            <a class="navbar-item" href="#">Atom Add-ons</a>
            --}}
            <a class="navbar-item" href="https://intellij-asciidoc-plugin.ahus1.de/docs" target="_blank" rel="noopener">IntelliJ Plugin</a>
          </div>
        </div>
        {{!--
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Extensions</div>
          <div class="navbar-dropdown is-right">
            <div class="navbar-item">Syntax</div>
            <a class="navbar-item" href="#">Asciidoctor Diagram</a>
            <a class="navbar-item" href="#">Asciidoctor Chart</a>
            <a class="navbar-item" href="#">Asciidoctor bibtex</a>
            <div class="navbar-item">Adapters</div>
            <a class="navbar-item" href="#">Asciidoctor Mathematical <small>stem</small></a>
            <a class="navbar-item" href="#">Asciidoctor Prism <small>source highlighter</small></a>
          </div>
        </div>
        --}}
        <a class="navbar-item" href="https://github.com/asciidoctor" target="_blank" rel="noopener">
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg"><use href="{{{uiRootPath}}}/img/octicons.svg#symbol-mark-github-16"></use></svg>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
